<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado libre</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://kit.fontawesome.com/14ed5dccbe.js" crossorigin="anonymous"></script>
</head>

<body>
    </div>
    <header>
        <div class="contenedor">
            <img class="Logo" src="/public/img/logo-mercado-liebre.svg" alt="no anda">
            <input class="buscador" type="text" placeholder="            Buscar productor, articulos..                              ">
        </div>

        <div class="subTitulo"> <i class="fa-solid fa-hand-holding-dollar"></i>
            Compra en cuotas y sin tarjetas de credito
        </div>

        <body>
            <div class="Ingresos">

                <nav class="Ofertas">
                    <a href="" class="nav-link">Todos los productos</a>
                    <br>
                    <a href="" class="nav-link">Ofertas</a>
                    <br>
                    <a href="" class="nav-link">Tiendas Oficiales</a>
                    <br>
                    <a href="" class="nav-link">Vender</a>
                    <br>
                    <a href="" class="nav-link">Ayuda</a>
                </nav>


                <nav class="CreaTuCuenta">
                    <a href="" class="nav-link Crea">Creá tu cuenta</a>
                    <i class='fas fa-money-check-alt'></i>
                    <br>
                    <a href="/contacto">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <br>
                    <a href="" class="nav-link MisCompras">Mis compras</a>
                    <i class="fas fa-shopping-basket"></i>
                    <br>
            </div>

        </body>
    </header>
    <main>

        <div id="banner">
            <img class="img_banner" src="/public/img/img-home-banner.jpg" alt="no anda">
        </div>

        <div class="Compra">
            Basado en tu última visita
        </div>

        <div class="Contenedor-padreFlex">


            <ul class="contenedor1">
                <img class="Cafetera" src="/public/img/img-cafetera-moulinex.jpg" alt="no anda">
                <br>
                Cafetera    
                <h1 class="DescripcionCafetera">

                    <i class="fas fa-truck camion1"></i>
                    <br>
                    $6750
                    <br>  
                    20% OFF

                </h1>

            </ul>

            <ul class="contenedor2">
                <img class="mac" src="/public/img/img-macbook-pro-2019.jpg" alt="no anda">
                MacBock Pro 2019
                <h2 class="Desc2">
                    <i class="fas fa-truck camion2"></i>
                    <br>
                    $230.300
                    <br>
                    20% OFF

                </h2>

            </ul>

            <ul class="contenedor3">
                <img class="cel" src="/public/img/img-samsung-galaxy-s10.jpg" alt="no anda">
                Samsung Galaxy
                <div class="Desc3">
                    <i class="fas fa-truck camion3"></i>
                    <br>
                    $70.500
                    <br>
                    10% OFF
                </div>
            </ul>

            <ul class="contenedor3">
                <img class="tv" src="/public/img/img-tv-samsung-smart.jpg" alt="no anda">
                Smart Samsung TV 45"
                <div class="Desc4">
                    <i class="fas fa-truck camion4"></i>
                    <br>
                    $23.300
                    <br>
                    5% OFF
                </div>
            </ul>
        </div>
    </main>

    <div class="formasPago">
        <br>
        <ul class="ElegiComoPagar">
            <i class="fas fa-credit-card card"></i>
            <br>
            Pagá con tarjeta de credito
            <br>
            <div class="pagoMercado">
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡ Y siempre es
                seguro !
            </div>

        </ul>
        <ul class="EnvioGratis">
            <i class="fas fa-gift regalo"></i>
            <br>
            Envío gratis desde los $2500
            <div class="envioMercado">
                Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de
                MercadoPuntos.
            </div>
        </ul>
        <ul class="Seguridad">
            <i class="fas fa-user-plus agregar"></i>
            <br>
            Seguridad de principio a fin
            <div class="devolveloMercado">
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                protegid@
            </div>
        </ul>
    </div>

</html>